@define-color bg_color rgba(100,114,125, 0.7);
@define-color tile_color rgba(81,94,103, 0.5);

* {
    font-family: 'DroidSansM Nerd Font';
    font-size: 15px;
    /*color: #fff;*/
    border-radius: 10px;
}

box.modules-left {
    border: 2px solid #33ccff;
    background-color: @bg_color;
    border-radius: 0 10px 10px 0;
    border-left: none;

}
box.modules-center {
    border: 2px solid #33ccff;
    background-color: @bg_color;
    border-radius: 10px;

}
box.modules-right {
    border: 2px solid #33ccff;
    background-color: @bg_color;
    border-radius: 10px 0 0 10px;
    border-right: none;

}
window#waybar {
    border: none;
    background-color: transparent;
}
#custom-os_button {
    font-size: 20px;
	padding-left: 10px;
	padding-right: 18px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os_button:hover {
    background:  #fff;
    color: #000;
}

#workspaces button {
    font-size: 17px;
    margin-right: 5px;
    padding-right: 8px;
    color: #fff;
    background: @tile_color;
    /*border-bottom: 3px solid transparent;*/
}
#workspaces button:last-child {
    margin-right: 0;
}
#workspaces button:hover {
    background:  #fff;
    color: #000;
}
#workspaces button.visible {
    color: #aaa;
}
#workspaces button.urgent {
    color: orange;
}
#workspaces button.active {
    color:#33ccff;
}
#workspaces button.special {
    border-left: #aaa 2px solid;
    border-right: #aaa 2px solid;
}

#custom-shade_button, #custom-logout_button, #custom-restart_button, #custom-shutdown_button, #custom-menu {
    padding-left: 5px;
    padding-right: 5px;
}
#custom-shade_button:hover, #custom-logout_button:hover, #custom-restart_button:hover, #custom-shutdown_button:hover, #custom-menu:hover {
    background:  #fff;
    color: #000;
}
#clock {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 5px;
}
#cpu, #memory, #disk, #pulseaudio, #battery, #language {
    background:  @tile_color;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 5px;
}
#battery.warning {
    background: yellow;
    color: #000;
}
#battery.critical {
    background: red;
    color: #000;
}
#tray{
    margin-right: 5px;
}
/*
#tray > .passive {
	border-bottom: none;
}
*/
#tray > .active {
    background:  @tile_color;
}
#tray > .needs-attention {
    background:  red;
    color: #000;
}
#tray > widget:hover {
    background:  #fff;
    color: #000;
}

#pulseaudio-slider slider {
    padding: 0;
    background: transparent;
    opacity: 0;
    border-radius: 0;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border: 2px solid #33ccff;
}
.side#pulseaudio-slider trough {
    min-height: 80px;
    min-width: 10px;
    border: 2px solid #33ccff;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    background-color: #fff;
}